@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>

@if (Model.Error != null)
{
        <h3 class="text-danger">@Model.Error</h3>
}

<a href="/">Back to Home page</a>
